@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can now use the Tailwind-generated class names like this */
.barlow-font {
  @apply font-barlow;
}

.poppins-font {
  @apply font-poppins;
}


.hemito-bg {
  background: rgb(14, 106, 177);
  background: linear-gradient(132deg, rgba(14, 106, 177, 1) 0%, rgba(10, 56, 91, 1) 100%);

}

.hemito-blue {
  color: #1A75BB;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}

.animate-bounce {
  animation: bounce 2s infinite;
}


.banner-container {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.banner-content {
  display: flex;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}

.banner-item {
  padding: 0 20px;
  font-size: 24px;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}